@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-league: "League Spartan", sans-serif;
    --color-dark-purple: #42135E;
    --color-purple: #A14AD8;
    --color-yellow: #F5BF5B;
    --color-green: #D1E991;
}

.blackGradient{
    background: linear-gradient(to bottom, #111111, #252525, #111111);
}

.purpleGradient{
    background: linear-gradient(to bottom, #DB9FFF, #A14AD8, #42135E);
}

.cornerGradientLeft{
    background: linear-gradient(-75deg, rgba(15,15,15,0), rgba(91,46,118,0.4), rgba(66,19,94,1));
}